<div class="main">
    <div class="row">
        <section class="col-xs-10 col-sm-10 col-md-6 col-lg-3 form">

            <div class="header-form">
                <div class="circle-header"></div>
                <img src="../../../assets/images/Icon1.png" alt="">
            </div>

            <div class="title-form">
                <h2><b>Registrarse</b></h2>
            </div>

            <form action="#">

                <div class="body-form m-2">

                    <div cas="body-input">
                        <div class="input-container col-12 mb-3">
                            <input type="text" class="form-control" placeholder="Nombre Completo">
                        </div>

                        <div class="input-container col-12 ">
                            <input type="email" class="form-control" placeholder="Correo Electrónico">
                        </div>

                        <div class="input-container col-12 mt-3">
                            <input type="password" class="form-control" placeholder="Contraseña">
                        </div>
                    </div>

                </div>

                <a class="d-flex justify-content-center" href="/">Ya tengo una cuenta</a>

                <div class="bottom-form mt-3 mb-5">
                    <div class="card-footer text-center">
                        <a href="/registro" class="btn col-10 mt-2 btn-neutral btn-round btn-lg">Registrarse</a>
                    </div>
                    
                </div>

            </form>

        </section>
    </div>
</div>
