<div class="main">
  <div class="alert-home">
    <div class="oalert info">
      <span><strong>Bienvenid&#64; {{ currentUser.nombre }} - </strong>desde aqui podra administrar las opciones segun su perfil.</span>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="row card-counter history">
        <div class="img1 col-2">
          <img
            src="../../../assets/images/images/Icon2.png"
            alt=""
            width="70"
          />
        </div>
        <div class="col-9">
          <span class="count-name">Historial Clinico</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card-counter warning">
        <div class="img2 col-2">
          <img
            src="../../../assets/images/images/Icon1.png"
            alt=""
            width="70"
          />
        </div>
        <div class="col-9">
          <span class="count-name">Medicamentos</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="row card-counter info">
        <div class="img3 col-2">
          <img
            src="../../../assets/images/images/Icon4.png"
            alt=""
            width="70"
          />
        </div>
        <div class="col-9">
          <span class="count-name">Citas Medicas</span>
        </div>
      </div>
    </div>
  </div>
</div>
