<div class="main">
    <div class="row">
        <section class="col-xs-10 col-sm-10 col-md-6 col-lg-3 formulario-login">

            <div class="header-login">
                <div class="circle-header"></div>
                <img src="../../../assets/images/Icon1.png" alt="">
            </div>

            <div class="title-login">
                <h2><b>Iniciar Sesión</b></h2>
            </div>

            <form action="#">

                <div class="body-login m-2">

                    <div cas="body-input">
                        <div class="input-container col-12 ">
                            <i class="icon">A</i>
                            <input type="email" class="form-control" placeholder="Correo Electrónico">
                        </div>

                        <div class="input-container col-12 mt-3">
                            <i class="icon">C</i>
                            <input type="password" class="form-control" placeholder="Contraseña">
                        </div>
                    </div>

                </div>

                <a id="olvidasteContraseña" href="">¿Olvidaste tu Contraseña?</a>

                <div class="bottom-login mt-3 mb-5">
                    <div class="card-footer text-center">
                        <a href="#" class="btn col-10 btn-neutral btn-round btn-lg">Iniciar Sesión</a>
                        <a href="#" class="btn col-10 mt-2 btn-neutral btn-round btn-lg">Registrarse</a>
                    </div>
                    
                </div>

            </form>

        </section>
    </div>
</div>
