<div class="main">
  <div class="row">
    <section class="col-9">
      <div class="d-flex align-items-start">
        <div
          class="nav flex-column nav-pills me-3"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <button
            class="nav-link active"
            id="historial"
            data-bs-toggle="pill"
            data-bs-target="#p-historial"
            type="button"
            role="tab"
            aria-controls="p-historial"
            aria-selected="true"
          >
            Historial
          </button>
          <button
            class="nav-link"
            id="diagnostico"
            data-bs-toggle="pill"
            data-bs-target="#p-diagnostico"
            type="button"
            role="tab"
            aria-controls="p-diagnostico"
            aria-selected="false"
          >
            Diagnostico y Tratamiento
          </button>
          <button
            class="nav-link"
            id="medicamentos"
            data-bs-toggle="pill"
            data-bs-target="#p-medicamentos"
            type="button"
            role="tab"
            aria-controls="p-medicamentos"
            aria-selected="false"
          >
            Medicamentos
          </button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="p-historial"
            role="tabpanel"
            aria-labelledby="historial"
          >
            <div class="col-12 titleHistorialMedico">
              <p>Datos Paciente</p>
            </div>

            <div class="row d-flex justify-content-around">
              <div class="col-3 d-flex justify-content-center">
                <fa-icon
                  class="icons-nav"
                  [icon]="faUserCircle"
                  style="font-size: 7rem"
                ></fa-icon>
              </div>
              <div class="col-4 p-3" style="border: 1px dashed #ddd">
                <b>Paciente: </b>
                <p>{{ currentUser?.nombre }} {{ currentUser?.apellido }}</p>
                <b>Fecha Nacimiento: </b>
                <p>{{ currentUser?.fecha_nacimiento }}</p>
                <b>Dirección: </b>
                <p>{{ currentUser?.direccion }}</p>
              </div>
              <div class="col-4 p-3" style="border: 1px dashed #ddd">
                <b>Teléfono: </b>
                <p>{{ currentUser?.telefono }}</p>
                <b>Genero: </b>
                <p>{{ currentUser?.genero }}</p>
                <b>Email: </b>
                <p>{{ currentUser?.email }}</p>
              </div>
            </div>

            <div class="col-12 titleHistorialMedico">
              <p>Historial Clinico</p>
            </div>

            <div class="col-12 d-flex justify-content-end">
              <button class="btn botonesHM col-2">Registrar</button>
              <button class="btn botonesHM col-2">Editar</button>
            </div>

            <div class="infoHistorial p-3">
              <table
                datatable
                [dtOptions]="dtOptions"
                class="table hover"
              >
              <thead>
                <tr>
                    <th>ID Cita</th>
                    <th>Fecha Cita</th>
                    <th>Hora Cita</th>
                    <th>Motivo - Tema</th>
                    <th>Especialista</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of historial">
                <td>{{ item.cita_id }}</td>
                <td>{{ item.cita_fecha }}</td>
                <td>{{ item.cita_hora }}</td>
                <td>{{ item.cita_motivo }}</td>
                <td>{{ item.especialista_nombre }} {{ item.especialista_apellido  }}</td>
              </tr>
            </tbody>
            </table>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="p-diagnostico"
            role="tabpanel"
            aria-labelledby="diagnostico"
          >
            <div class="col-12 titleHistorialMedico">
              <p>Diagnostico de Enfermedades</p>
            </div>

            <div class="infoHistorial p-3">
              <table
                datatable
                [dtOptions]="dtOptionsDT"
                class="table hover"
                style="width: 100%"
              >
            <thead>
              <tr>
                <th>ID</th>
                <th>Tema de Consulta</th>
                <th>Descripción</th>
                <th>Diagnóstico</th>
                <th>Fecha</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of historial">
                <td>{{ item.enfermedad_id }}</td>
                <td>{{ item.cita_motivo }}</td>
                <td>{{ item.enfermedad_descripcion }}</td>
                <td>{{ item.enfermedad_diagnostico }}</td>
                <td>{{ item.enfermedad_fecha }}</td>
                <td>{{ item.enfermedad_estado }}</td>
              </tr>
            </tbody>
            </table>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="p-medicamentos"
            role="tabpanel"
            aria-labelledby="medicamentos"
          >
            <div class="col-12 titleHistorialMedico">
              <p>Medicamentos</p>
            </div>

            <div class="infoHistorial p-3">
              <table
                datatable
                [dtOptions]="dtOptionsM"
                class="table hover"
                style="width: 100%"
              >
              <thead>
                <tr>
                  <th>ID Cita</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Frecuencia</th>
                  <th>Duración (Días)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of historial">
                  <td>{{ item.cita_id }}</td>
                  <td>{{ item.medicamento_nombre }}</td>
                  <td>{{ item.medicamento_descripcion }}</td>
                  <td>{{ item.autorizacion_frecuencia }}</td>
                  <td>{{ item.autorizacion_duracion }}</td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="col-3">
      <div class="resumenClinico p-2">
        <h4 class="mt-4"><b>Resumen Clinico</b></h4>

        <section class="opciones">
          <button class="btn btn-opciones btn-info">
            <fa-icon class="icons-nav" [icon]="faDownload"></fa-icon>
          </button>
          <button class="btn btn-opciones btn-success">
            <fa-icon class="icons-nav" [icon]="faEye"></fa-icon>
          </button>
        </section>

        <section class="alergias">
          <div class="alert p-2">
            <b
              ><fa-icon
                class="icons-nav"
                [icon]="faExclamationTriangle"
              ></fa-icon>
              Alergias a Medicamentos</b
            >
            <p>- Penincilina</p>
            <b>Otras Alergias: </b>
            <p>- Nueces</p>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>
